<!DOCTYPE html>
<html>
<head>
    <title>
        Corals Landing Page
    </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='javascript/index.js') }}"></script>
</head>
<body>
    <div id="sky" class="background">
        <h1 id="sky-title">תומכים בפרוייקט המרפסות ולוקחים חלק בשיקום השונית בחוף קצא"א</h1>
    </div>
    <img id="ship" src="{{ url_for('static', filename='imgs/ship.svg') }}">
    <div id="background-gradient" class="background">
        <div id="sea-shape">
            <img id="sea-shape-1" class="sea-shape" src="{{ url_for('static', filename='imgs/vector-right.svg') }}">
            <img id="sea-shape-2" class="sea-shape" src="{{ url_for('static', filename='imgs/vector-left.svg') }}">
        </div>
        <div class="signups">
            <h1 id="num-signed">{{signed}}</h1>
            <p id="signed-msg">א.נשים כבר נרשמו, ומה איתך?</p>
            <button id="sign-button" class="button" onclick="smoothScroll(document.getElementById('scroll-id'))">
                הרשמו עכשיו 
                <img class="icon" src="{{ url_for('static', filename='imgs/arrow-down.svg') }}">
            </button>
        </div>
        <div id="turtle-container" class="gif">
            <img id="turtle" src="{{ url_for('static', filename='gifs/turtle.gif') }}">
        </div>
        <div id="jellyfish-container" class="gif">
            <img id="jellyfish" src="{{ url_for('static', filename='gifs/medusa.gif') }}">
        </div>
        <div id="fish-container" class="gif">
            <img id="fish" src="{{ url_for('static', filename='gifs/fish.gif') }}">
        </div>
    </div>
    <div id="content">
        <p class="content">
            יש לנו הזדמנות אמיתית להביא לשינוי, לשקם
            ולחקור את אחד הכלים האקולוגים החשובים
            ביותר בטבע, ואתם יכולים לקחת בזה חלק!
        </p>
        <p class="content">
            בזמן שקראתםן את הטקסט הזה, נפגעו באופן
            בלתי הפיך כ <strong class="o-strong">2500</strong> מושבות אלמוגים ברחבי
            .העולם
        </p>
        <p class="content">
            אותם אלמוגים, הם קריטים למאות אלפי מינים
            ימיים שמסתמכים עליהם באופן ישיר, אבל הם
            קריטים גם למליוני בני אדם - שמסתמכיםעליהם לחמצן ולסחיפת קרקעות.
        </p>
        <p class="content">
            <strong>אין לנו זמן לחכות.</strong><br>
            אם לא נפעל עכשיו, ההידרדרות המתמשכת של
            שוניות האלמוגים בעולם תוביל לנזק בלתי הפיך.
        </p>
        <p class="content">
            <strong>הרשמו לרשימת התמיכה שלנו בפרוייקט</strong><br>
            תמכו בשיקום שונית האלמוגים באילת וקחו
            חלק בשימור אוצר טבע, טיפוח תגליות מדעיות
            וחיזוק הקשר והדו קיום בין האדם לבין הטבע.
        </p>
        <p id="scroll-id" class="content last-content">
            <strong class="o-strong">
                הרשמו לרשימת התמיכה
                <a href="https://www.yamidbar.co.il/">בעמותת מדבר וים,</a>
                ונציג שלנו יחזור אליכם באימייל!
            </strong>
        </p>
    </div>
    <form id="final-form" method="POST" action="{{url_for('signup')}}">
        <div class="form-field">
            <label for="user_name">
                <strong><span class="required-field">* </span>השם שלך </strong>
                <span class="fade-text">| מבטיחים שישאר בנינו</span>
            </label>
            <input type="text" id="user_name" name="user_name" class="input text-input" onchange="enable_send()" required>
        </div>
        <div class="form-field">
            <label for="user_email">
                <strong><span class="required-field">* </span>האימייל שלך </strong>
                <span class="fade-text">| מבטיחים בלי ספאם</span>
            </label>
            <input type="email" id="user_email" name="user_email" class="input text-input" onchange="enable_send()" required>
        </div>
        <div class="form-field">
            <label for="check" class="check">
                <strong><span class="required-field">* </span></strong>
                <div id="check-text">אני מסכימ.ה שיצרו איתי קשר <a href="https://www.yamidbar.co.il/">מעמותת "מדבר וים",</a>
                    לצורך תרומה לפרוייקט</div>
            </label><br>
            <div>
                <span id="checkbox-bg"></span>
                <input type="checkbox" id="check" name="agreement" class="input checkbox-input" required onclick="enable_send()">
            </div>
        </div>
        <button type="submit" id="submit-button" class="button" disabled>
            שלח
            <img id="left-icon" class="icon" src="{{ url_for('static', filename='imgs/arrow-left.svg') }}">
        </button>
    </form>
</body>
</html>
